* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: normal;
}

section {
  padding: 2.5rem;
}

main {
  /* 為頁面內容添加 padding-top，以便留出 navbar 的高度 */
  padding-top: 100px;
}

@media screen and (max-width: 1024px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .topnav.responsive {
    /* 將 navbar 固定在頁面頂部 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.topnav {
  overflow: hidden;
  background-color: #333;

  /* 將 navbar 固定在頁面頂部 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

body {
  header {
  }

  main {
    section.main-area {
      background: linear-gradient(to bottom, white 50%, bisque 50%);
      min-height: 70vh;
      display: flex;
      flex-wrap: wrap-reverse;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;

      div.info {
        flex: 0 1 472px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          font-size: 2.5rem;
          text-align: center;
        }
        p {
          font-size: 1rem;
          padding: 0.5rem;
          a.text {
            text-decoration: none;
            color: orange;
            transition: all 0.3s ease;
            &:hover {
              text-decoration: underline;
              color: rgb(186, 133, 36);
            }
          }
        }
        // a.more {
        //   text-align: center;
        //   padding: 0.5rem 1rem;
        //   margin-top: 1.5rem;
        //   color: white;
        //   background-color: rgb(14, 95, 68);
        //   font-size: 1.5rem;
        //   text-decoration: none;
        //   border-radius: 20px;
        //   transition: all 0.2s ease;
        //   &:hover {
        //     transform: scale(1.2);
        //     background-color: rgb(67, 127, 89);
        //     box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        //   }
        // }
      }
      div.img {
        flex: 0 1 472px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 90%;
          max-width: 60vw;
          margin: 0 1rem 3rem 1rem;
        }
      }
    }

    section.about-me {
      background-color: bisque;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 5rem 2rem;

      div.about-me-text {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          font-size: 2.5rem;
          margin: 1rem;
        }

        p {
          font-size: 1rem;
          padding: 0.5rem;
          width: 700px;
          max-width: 80vw;
        }
      }
      div.pr {
        width: 700px;
        max-width: 80vw;
        p {
          font-size: 1rem;
          margin-bottom: 0rem;
          margin-top: 0.5rem;
        }
      }
    }
  }
  section.resume {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    section.table {
      flex: 1 1 512px;
    }
    section.picture {
      flex: 0 1 512px;
      display: flex;
      justify-content: center;
      align-items: center;
      div.circle {
        border-radius: 50%;
        width: 250px;
        height: 250px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        transition: all 0.2s ease;
        &:hover {
          width: 300px;
          height: 300px;
        }
      }
    }
  }
}
